.container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
    justify-content: center;
    grid-template-areas: "image text";
    grid-row-gap: 40px;
}

.image {
    grid-area: image;
   
}

.p {
    text-align: center;
}

.container > button {
    grid-column-start:1 ;
    grid-column-end: 2;
}

.container img {
    max-width: 100%;
    max-height: 100%;
}

.frame{
    border: 15px grey ridge;
    margin-right: 40px;
    margin-left: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
  }

  .ok {
      position: absolute;
      bottom: 0;
  }

