
#nav {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color:blue;
    background-color: lightblue;
    border: 1px solid black;
    margin-left: 150px;
    cursor: pointer;
    border-style: groove;
}

#nav li a:hover {
    color: red;
    background-color: pink;
}

