.poem {
    position: absolute;
    bottom:0;
    left: 400;
    margin-bottom: 35px;
    margin-left: 50px;
}

.wrap {
    height: 400px;
    width: 400px;
    border: 4mm ridge rgba(50, 138, 220, 0.6);
    border-left-style: none;
    background-color: white;
}

.image {
    border: 4mm ridge rgba(50, 138, 220, 0.6);
    border-right-style: none;
    background-color: white;
    height: 400px;
    width: 400px;
}

button {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    color: #3498db;
    transition: 0.8s;
    width: 126px;
    height: 45px;
}

button:hover {
    color: #fff; 
}

.imagebutton {
    margin-top: 5px;
    margin-left: 137px;
}

.textbutton {
    margin-top: 9px;
    margin-left: 137px;
}

@media (max-width: 700px) {
    .wrap {
        border: 4mm ridge rgba(50, 138, 220, 0.6);
        border-top-style: none;
    }

    .image {
        border: 4mm ridge rgba(50, 138, 220, 0.6);
        border-bottom-style: none;
    }

    .imagebutton {
        margin-top: 455px;
        margin-left: 136px;
    }

    .textbutton {
        margin-top: 9px;
        margin-left: 136px;
    }

}

